<component name="libraryTable">
  <library name="spring-boot-basics-start-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring-boot-basics-start/build/libs/spring-boot-basics-start-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>